.logoImage, .ticketImage, .mainImage {
    margin: 30px;
}

.logoImage {
    width: 184px;
    height: 48px;
}

.ticketImage {
    width: 256px;
    height: 434px;
}

.station {
    width: 390px;
    font-size: 50px;
    color: #75C382;
    margin-left: 30px;
    position: fixed;
    top: -130px;
    left: -80px;
}

.departure {
    width: 100px;
    height: 23px;
    position: fixed;
    top: 35px;
    right: 13px;
}

.seat {
    width: 100px;
    height: 23px;
    position: fixed;
    top: 35px;
    right: -83px;
}

.seatNum {
    width: 210px;
    height: 23px;
    position: fixed;
    top: 86px;
    right: -107px;
}

.lastText {
    width: 158px;
    height: 44px;
    position: fixed;
    top: 145px;
    right: -83px;
}