body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Maple";
  src: url(../public/fonts/SOYO\ Maple\ Regular.ttf) format("truetype");
}

body {
  font-family: "Maple", sans-serif; /* "Maple" 폰트를 기본 sans-serif 폰트로 대체합니다. */
}